## BAN 601 Extra Credit
### Please go through the each cell below and look at the comments. Based on the comments fill the missing code. The missing code will be shown as '?' mark. In that space you may need to use some pandas function or write a query condition etc.

In [1]:
import pandas as pd

In [2]:
# Read housing.csv file here
try:
  housing_df = pd.read_csv('california_housing_data.csv')
except:
  print("ERROR: could not read in california_housing_data.csv.")

print(housing_df)
housing_df.size

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]

206400

In [3]:
# Read california_housing_data.csv file here
try:
  ca_cities_df = pd.DataFrame(pd.read_csv("cal_cities_lat_long.csv"))
except:
  print("ERROR: could not read in cal_cities_lat_long.csv.")

ca_cities_df.head(10)

              Name   Latitude   Longitude
0         Adelanto  34.582769 -117.409214
1     Agoura Hills  34.153339 -118.761675
2          Alameda  37.765206 -122.241636
3           Albany  37.886869 -122.297747
4         Alhambra  34.095286 -118.127014
5      Aliso Viejo  33.575000 -117.725556
6          Alturas  41.487114 -120.542456
7      Amador City  38.419356 -120.824103
8  American Canyon  38.174917 -122.260803
9          Anaheim  33.835292 -117.914503

In [4]:
#convert the latitude and longitude on housing_df dataframe to 2 decimal precision
housing_df['latitude'] = round(housing_df['latitude'],2)
housing_df['longitude'] = round(housing_df['longitude'],2)
print(housing_df.loc[:,['latitude', 'longitude']])
housing_df.size

       latitude  longitude
0         37.88    -122.23
1         37.86    -122.22
2         37.85    -122.24
3         37.85    -122.25
4         37.85    -122.25
...         ...        ...
20635     39.48    -121.09
20636     39.49    -121.21
20637     39.43    -121.22
20638     39.43    -121.32
20639     39.37    -121.24

[20640 rows x 2 columns]

206400

In [5]:
#convert the latitude and longitude on ca_cities_df dataframe to 2 decimal precision
ca_cities_df['latitude'] = round(ca_cities_df['Latitude'],2)
ca_cities_df['longitude'] = round(ca_cities_df['Longitude'],2)
ca_cities_df = ca_cities_df.drop(['Latitude', 'Longitude'],axis=1)
print(housing_df.loc[:,['latitude', 'longitude']])
housing_df.size

       latitude  longitude
0         37.88    -122.23
1         37.86    -122.22
2         37.85    -122.24
3         37.85    -122.25
4         37.85    -122.25
...         ...        ...
20635     39.48    -121.09
20636     39.49    -121.21
20637     39.43    -121.22
20638     39.43    -121.32
20639     39.37    -121.24

[20640 rows x 2 columns]

206400

In [6]:
# Join 2 data frames using left outer join.
joined_df = pd.merge(ca_cities_df,housing_df, on=['latitude', 'longitude'], how='left', indicator=True)
print(joined_df.head(10))
joined_df.size

           Name  latitude  longitude  housing_median_age  total_rooms  \
0      Adelanto     34.58    -117.41                14.0        859.0
1      Adelanto     34.58    -117.41                10.0       2964.0
2  Agoura Hills     34.15    -118.76                 NaN          NaN
3       Alameda     37.77    -122.24                52.0       1153.0
4       Alameda     37.77    -122.24                52.0       1711.0
5       Alameda     37.77    -122.24                43.0        955.0
6        Albany     37.89    -122.30                46.0       1520.0
7        Albany     37.89    -122.30                36.0       1077.0
8        Albany     37.89    -122.30                52.0       1248.0
9      Alhambra     34.10    -118.13                19.0       2742.0

   total_bedrooms  population  households  median_income  median_house_value  \
0           212.0       541.0       181.0         1.6838             57900.0
1           668.0      1853.0       609.0         1.6047             73400.0
2             NaN         NaN         NaN            NaN                 NaN
3           235.0       481.0       223.0         2.6411            241000.0
4           386.0       885.0       373.0         3.6417            206300.0
5           284.0       585.0       266.0         2.3882            162500.0
6           402.0       815.0       375.0         2.8036            211600.0
7           293.0       518.0       276.0         3.0208            206300.0
8           283.0       620.0       275.0         4.0875            221300.0
9           756.0      1396.0       703.0         2.5663            197500.0

  ocean_proximity     _merge
0          INLAND       both
1          INLAND       both
2             NaN  left_only
3        NEAR BAY       both
4        NEAR BAY       both
5        NEAR BAY       both
6        NEAR BAY       both
7        NEAR BAY       both
8        NEAR BAY       both
9       <1H OCEAN       both

9744

In [7]:
# Find number of rows missing the city information
# That is find out the Name column with "NaN" using isna() function and then do
# sum() function on top of that dataframe
print("The total number of rows missing the city information: ", joined_df['Name'].isna().sum())

The total number of rows missing the city information:  0

In [8]:
# Now select only the rows which has city populated
# That means drop any rows which has NaN value in the cell
filtered_joined_df = joined_df.dropna(subset=['Name'], axis=0)
filtered_joined_df

,Name,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,_merge
0,Adelanto,34.58,-117.41,14.0,859.0,212.0,541.0,181.0,1.6838,57900.0,INLAND,both
1,Adelanto,34.58,-117.41,10.0,2964.0,668.0,1853.0,609.0,1.6047,73400.0,INLAND,both
2,Agoura Hills,34.15,-118.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,Alameda,37.77,-122.24,52.0,1153.0,235.0,481.0,223.0,2.6411,241000.0,NEAR BAY,both
4,Alameda,37.77,-122.24,52.0,1711.0,386.0,885.0,373.0,3.6417,206300.0,NEAR BAY,both
...,...,...,...,...,...,...,...,...,...,...,...,...
807,Woodland,38.68,-121.77,43.0,2559.0,598.0,1820.0,591.0,2.1927,107900.0,INLAND,both
808,Yorba Linda,33.89,-117.81,13.0,3252.0,583.0,1546.0,557.0,5.8243,297900.0,<1H OCEAN,both
809,Yreka,41.74,-122.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
810,Yuba City,39.14,-121.62,41.0,2183.0,559.0,1202.0,506.0,1.6902,61500.0,INLAND,both
811,Yucaipa,34.03,-117.04,29.0,3375.0,795.0,1760.0,699.0,2.7028,92000.0,INLAND,both

In [9]:
#Find the minimum and maximum housing_median_age
print("Minimum Housing Median Age is: ", filtered_joined_df['housing_median_age'].min())
print("Maximum Housing Median Age is: ", filtered_joined_df['housing_median_age'].max(), "\n")

#Find the minimum and maximum total_bedrooms
print("Minimum Total Bedrooms is: ", filtered_joined_df['total_bedrooms'].min())
print("Maximum Total Bedrooms is: ", filtered_joined_df['total_bedrooms'].max(), "\n")

#Find the minimum and maximum median_income
print("Minimum Median Income is: ", filtered_joined_df['median_income'].min())
print("Maximum Median Income is: ", filtered_joined_df['median_income'].max(), "\n")

#Find the minimum and maximum median_house_value
print("Minimum Median House Value is: ", filtered_joined_df['median_house_value'].min())
print("Maximum Median House Value is: ", filtered_joined_df['median_house_value'].max())

Minimum Housing Median Age is:  4.0
Maximum Housing Median Age is:  52.0

Minimum Total Bedrooms is:  6.0
Maximum Total Bedrooms is:  2696.0

Minimum Median Income is:  0.4999
Maximum Median Income is:  12.4291

Minimum Median House Value is:  41400.0
Maximum Median House Value is:  500001.0

In [10]:
#Now select the rows with housing_median_age less than 25 year and its value less than 100000

final_df = filtered_joined_df.query('housing_median_age < 25 and median_house_value < 100000')
print(final_df)
final_df.size

                 Name  latitude  longitude  housing_median_age  total_rooms  \
0            Adelanto     34.58    -117.41                14.0        859.0
1            Adelanto     34.58    -117.41                10.0       2964.0
28              Arvin     35.20    -118.83                17.0       1959.0
62              Biggs     39.41    -121.71                22.0       1814.0
80           Calexico     32.68    -115.50                18.0       3631.0
116         Clearlake     38.96    -122.63                17.0       1708.0
117         Clearlake     38.96    -122.63                20.0       2507.0
120            Clovis     36.83    -119.70                23.0       3532.0
122          Coalinga     36.14    -120.36                18.0       1206.0
132           Compton     33.90    -118.22                22.0        312.0
192         El Centro     32.79    -115.56                18.0       1178.0
193         El Centro     32.79    -115.56                20.0       2372.0
215      Farmersville     36.30    -119.21                23.0        951.0
216      Farmersville     36.30    -119.21                18.0       1433.0
221           Fontana     34.09    -117.44                24.0       3477.0
270             Hemet     33.75    -116.97                22.0       3740.0
287          Imperial     32.85    -115.57                17.0       1039.0
366            Lompoc     34.64    -120.46                16.0        686.0
395           Manteca     37.80    -121.22                13.0        335.0
396          Maricopa     35.06    -119.40                21.0       2213.0
399        Marysville     39.15    -121.59                 5.0       1922.0
454     National City     32.68    -117.10                20.0       1012.0
474           Oakdale     37.77    -120.85                20.0        651.0
477           Oakdale     37.77    -120.85                10.0        423.0
495            Orland     39.75    -122.20                18.0       2603.0
522            Perris     33.78    -117.23                23.0       3465.0
696           Shafter     35.50    -119.27                21.0       2171.0
715  South Lake Tahoe     38.94    -119.98                23.0       1564.0
729       Suisun City     38.24    -122.04                22.0       2761.0
767           Vallejo     38.10    -122.26                24.0       1213.0
797       Westmorland     33.04    -115.62                17.0       1009.0
798       Westmorland     33.04    -115.62                20.0       1121.0

     total_bedrooms  population  households  median_income  \
0             212.0       541.0       181.0         1.6838
1             668.0      1853.0       609.0         1.6047
28            484.0      1763.0       453.0         2.1357
62            342.0       941.0       323.0         2.1728
80            913.0      3565.0       924.0         1.5931
116           459.0       633.0       312.0         1.7500
117           577.0      1072.0       457.0         2.3083
120           756.0      1885.0       758.0         2.5904
122           274.0       622.0       217.0         1.8264
132           107.0       583.0       119.0         1.9423
192           438.0      1377.0       429.0         1.3373
193           835.0      2283.0       767.0         1.1707
215           235.0       806.0       222.0         1.7734
216           265.0      1092.0       276.0         1.9135
221           831.0      2541.0       753.0         2.3682
270           965.0      2011.0       824.0         1.3039
287           256.0       728.0       246.0         1.7411
366           217.0       614.0       200.0         0.8106
395            89.0       247.0        77.0         1.6111
396           458.0      1250.0       440.0         2.9187
399           489.0       938.0       439.0         2.0474
454           269.0       837.0       240.0         2.0488
474           157.0       421.0       151.0         2.0833
477           110.0       295.0        94.0         1.3583
495           576.0      1616.0       588.0         2.0192
522           703.0      2672.0       607.0         1.9767
696           483.0      1315.0       450.0         1.7105
715           298.0       339.0       147.0         4.0417
729           757.0      2612.0       641.0         1.6875
767           395.0       699.0       386.0         1.3007
797           231.0       745.0       217.0         2.0463
798           244.0       766.0       230.0         2.2969

     median_house_value ocean_proximity _merge
0               57900.0          INLAND   both
1               73400.0          INLAND   both
28              53500.0          INLAND   both
62              59400.0          INLAND   both
80              88400.0          INLAND   both
116             64000.0          INLAND   both
117             60200.0          INLAND   both
120             71400.0          INLAND   both
122             62000.0          INLAND   both
132             98400.0       <1H OCEAN   both
192             58300.0          INLAND   both
193             62500.0          INLAND   both
215             41400.0          INLAND   both
216             49400.0          INLAND   both
221             97400.0          INLAND   both
270             77500.0          INLAND   both
287             63500.0          INLAND   both
366             83300.0      NEAR OCEAN   both
395             74100.0          INLAND   both
396             52100.0          INLAND   both
399             61300.0          INLAND   both
454             88900.0      NEAR OCEAN   both
474             77300.0          INLAND   both
477             85200.0          INLAND   both
495             63700.0          INLAND   both
522             81500.0          INLAND   both
696             52100.0          INLAND   both
715             99300.0          INLAND   both
729             87500.0          INLAND   both
767             94600.0        NEAR BAY   both
797             61200.0          INLAND   both
798             62000.0          INLAND   both

384